h2{
    font-size: 24px;
    color: rgb(255, 98, 0);    
}
p{
    font-size: 16px;    
    color: blue;
}
header{
    font-style: italic;
    font-size: large;
    font-display: bold;
    color: brown;
    
}